body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffaf0;
}

header{
    background-color: #ff4d4d;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}
nav a:hover{
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 80px;
}

/* Food Grid */
.food-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 30px;
}

/* Card */
.card {
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.4s ease;   /* 🔥 transition added */
    cursor: pointer;
}

/* Card hover effect */
.card:hover {
    transform: translateY(-20px) scale(1.00);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* Image */
.card img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    transition: transform 0.4s ease; /* image animation */
}

/* Image zoom on hover */
.card:hover img {
    transform: scale(1.1);
}

/* Title */
.card h3 {
    padding: 10px;
    transition: color 0.3s ease;
}

/* Change text color on hover */
.card:hover h3 {
    color: #ff4d4d;
}

.contact {
    padding: 50px;
    text-align: center;
    font-size: 18px;
}

p{
    text-align: center;
    margin-top: 10px;
}
